
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.square {
  width: 150px;
  padding-bottom: 150px;
  height: auto;
  border: 5px solid black;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.grid {
  width: 100vw;
  text-align: center;
  margin: 100px auto;
  position: relative;
  margin: 100px auto;
  max-width: 960px;
}

.row1, .row2, .row3 {
  max-height: 160px;
}

.board {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
}
container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#line1, #line2 {
  /*background-color: #fff;*/
  text-align: center;
  height: 500px;
  width: 10px;
  list-style: none;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

#line1 {
  top: -10px;
  left: 393px;
  background: #ffd0d0;
  box-shadow: 0 0 80px #f00, 0 0 80px #f00, 0 0 80px #f00;
  transform-origin: top bottom;
}

#line2 {
  top: -10px;
  left: 557px;
  background: #ffffd7;
  box-shadow: 0 0 80px #ff0, 0 0 80px #ff0, 0 0 80px #ff0;
  transform-origin: bottom top;
}

@keyframes line1 {
  0%{
    width: 10px;
  }
  100%{
    width: 500px;
  }
}

@keyframes line2 {
  0%{
    width: 10px;
  }
  100%{
    width: 500px;
  }
}

ul {
margin-left: 480px;
}

#line3, #line4 {
  /*background-color: #fff;*/
  text-align: center;
  height: 10px;
  width: 500px;
  list-style: none;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

#line3 {
  top: 155px;
  left: 230px;
  background: #bffbbf;
  box-shadow: 0 0 80px #0f0, 0 0 80px #0f0, 0 0 80px #0f0;
}

#line4 {
  top: 315px;
  left: 230px;
  background: #acffff;
  box-shadow: 0 0 80px #0ff, 0 0 80px #0ff, 0 0 80px #0ff;
}

circle {
  background: #bebeff;
  box-shadow: 0 0 6px 2px #00f, 0 0 6px 2px #00f, 0 0 6px 2px #00f;
  z-index: 5;
  position: absolute;
  cx: 50;
  cy: 70;
  r: 40;
  stroke-width: 15;
}

.noughts {
  transform: rotate(-90deg);
}

svg#round.noughts {
  margin: 0;
  padding: 0;
  width= 100px;
  height= 100px;
}

.O {
  width: 100px;
  height: 100px;
}

#round {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  fill: transparent;
  stroke: #bebeff;
  animation-name: round;
	animation-duration: 1s;
	animation-timing-function: steps(60);
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
  animation-fill-mode: forwards;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
}

@keyframes round {
  0% {
    stroke-dashoffset: 502;
    stroke: white;
  }
  50% {
    stroke: #00f;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #00f;
  }
}

.cross {
  height: 9px;
  width: 150px;
  border-radius: 9px;
  background-color: #ffadff;
  box-shadow: 0 0 80px #f0f, 0 0 80px #f0f, 0 0 80px #f0f;
  -webkit-animation-name: cross;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  z-index: 2;
}

.slash1, .slash2 {
  position: absolute;
}

.slash1 {
  top: 40px;
  left: 40px;
  width: 100px;
  transform-origin: top left;
  transform: rotate(45deg);
}

.slash2 {
  top: 41px;
  right: 42px;
  width: 100px;
  transform-origin: top right;
  transform: rotate(-45deg);
}

@keyframes cross {
  0%{
    width: 1px;
  }
  100%{
    width: 100px;
  }
}

@keyframes cross {
  0%{
    width: 1px;
  }
  100%{
    width: 100px;
  }
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: white;
  text-align: left;
  bottom: 900px;
  margin: -400px 0 0 100px;
}
